# Generic stuff
.vscode
**/__pycache__/**

# Ignore database and migrations
*.sqlite3
**/migrations/*

# Commit default data setup migration
!migrations/setup_data.py

# User-specific settings
**/settings/user.py

# Static files
**/static/**
